/* CSS Style */

.center 
{
	text-align: center;
}

.secondLevel
{
   padding-left: 20px;
}

#mainContent
{
	width: 90%;
	margin: auto;
	padding: 50px;
   height: 500px;
}

#rightCourse
{
	float: right;
	width: 45%;
   height: 100%;

}

#leftCourse
{
	float:left;
	width:45%;
   height: 100%;

}

#buttonsContainer
{
	width: 75px;
	margin: auto;
	text-align:center;
   height: 100%;
}

#buttons
{
   margin-top: 200px;
   margin-bottom: auto;
}

button 
{
  color: #0077BB;
  border: 1px solid #0077BB;
  font-weight: bold;
  margin-top: 10px;
}

button:hover
{
   color: #fff;
   border: 1px solid #fff;
   font-weight: bold;
   background-color: #0077BB;
}


select
{
   width: 98%;
   height: 88%;
   margin: 2px;
}

#header
{
	clear: both;
   font-size: 2em;
}

/***********Start Version 2 CSS **********************/

.moduleItem
{
   font-weight: bold;
   text-align: left;
   background-color: #0077BB;
   color: #fff;
}

.folderItem
{
   font-weight: bold;
   text-align: left;
   padding-left: 10px;
}

.courseItem
{
   padding-left: 10px;
   text-align: left;
}

.ui-selectee, .ui-selectable ul
{
   margin: 1px 0px 1px 0px;
   border: 1px solid;
}
  
.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

#leftList, #rightList
{
   height: 440px;
}

p#description
{
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 10px;
   text-align: center;
}
